@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Raleway);

$menuBarHeight: 3rem;
$menuBarColor: transparent;//#222;
$menuActiveColor: #4e6cef;

$mainBgColor: #fff;

/*html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  position: relative;

  background: linear-gradient(#ccc, #ddd);
  box-sizing: border-box;
}*/

html, body {
  margin: 0;
  height: 100%;
}

.menu-bar {
  background: linear-gradient(to bottom, 
    rgba(255, 255, 255, .33),
    rgba(255, 255, 255, 0));
  //background: linear-gradient($menuBarColor, transparent);
  //background: @menu-bar-color;
  //box-shadow: 0 4px 8px rgba(0,0,0, .75);
  height: $menuBarHeight;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding-bottom: 3px;

  ul {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;

    justify-content: center;
    text-align: right;
    line-height: $menuBarHeight;
    margin: 0;
    transition: background-color .15s ease;

    /*&:hover {
      background-color: $menuBarColor;
      transition: background-color .25s ease;      
    }*/

    li {
      border-top: 2px solid transparent;
      display: inline-block;
      float: left;
      list-style: none;
      white-space: normal;

      &.active {
        border-color: $menuActiveColor;
        color: $menuActiveColor;
        transition: color .2s, border-color .2s;

        a {
          color: $menuActiveColor;
        }
      }

      a {
        color: #aaa;        
        display: inline-block;
        padding: 0 1rem;
        text-decoration: none;
        height: 100%;
        transition: color .2s, border-color .2s;

        &:hover {
          background-color: rgba(200, 200, 200, 0.25);
          //color: lighten(#333, 50%);
          text-decoration: underline;
          transition: all .2s ease;

        }
      }
    }
  }

  &.headroom {
    &.headroom--not-top {
      background-color: #fff;

      &.headroom--pinned {
        top: 0;
        box-shadow: 2px 0 5px rgba(50, 50 ,50, .7);
        transition: all .25s ease;
      }

      &.headroom--unpinned {
        top: -$menuBarHeight;
        transition: all .25s ease;
      }
    }
  }
}

section.main {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: $menuBarHeight;
  color: #888;
  //padding: 0 10%;
  padding-top: 5%;
}

.background {
  background-image: url(../../img/main_bg_1.jpg);
  background-size: cover;
  filter: grayscale(0%) blur(10px);
  position: fixed;
  width: 102%;
  height: 102%;
  top: -1%;
  left: -1%;
  z-index: 0;
}


$btnColor: #546e7a;
$btnText: #cfd8dc;

a.pj-btn {
  background: linear-gradient(#ddd 75%, #ccc);
  border-radius: 4px;
  box-sizing: border-box;
  color: #666;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;

  &:hover {
    background: linear-gradient(#ccc 75%, #ddd);//lighten($btnColor, 10%);
    color: #333;
  }
}

a.self {
  &:before {
    content: attr(href);
  }
}

a.download,
button.download,
input[type="button"].download {
  padding-left: 2rem;
  color: #555;

  .download {
    fill: #555;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: -.25rem;
    margin-left: -1.75rem;

  }

  &:hover .download {
    fill: #333;
  }
}


@import "resume";
@import "rwby";