.col {
  display: block;
  float: left;
  margin: 1% 0;
  margin-left: 1.5%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1rem;
}
.span_1_of_1,
.span_2_of_2,
.span_3_of_3,
.span_4_of_4,
.span_5_of_5,
.span_6_of_6,
.span_7_of_7,
.span_8_of_8,
.span_9_of_9 {
  width: 98.5%;
}
.span_1_of_2,
.span_2_of_4,
.span_3_of_6,
.span_4_of_8 {
  width: 48.5%;
}
.span_1_of_3,
.span_2_of_6,
.span_3_of_9 {
  width: 31.83333333%;
}
.span_1_of_4,
.span_2_of_8 {
  width: 23.5%;
}
.span_1_of_5 {
  width: 18.5%;
}
.span_1_of_6 {
  width: 15.16666667%;
}
.span_2_of_3,
.span_4_of_6,
.span_6_of_9 {
  width: 65.16666667%;
}
.span_3_of_4 .span_6_of_8 {
  width: 73.5%;
}
.span_2_of_5 {
  width: 38.5%;
}
.span_3_of_5 {
  width: 58.5%;
}
.span_4_of_5 {
  width: 78.5%;
}
.span_5_of_6 {
  width: 81.83333333%;
}
.span_1_of_7 {
  width: 12.78571429%;
}
.span_2_of_7 {
  width: 27.07142857%;
}
.span_3_of_7 {
  width: 41.35714286%;
}
.span_4_of_7 {
  width: 55.64285714%;
}
.span_5_of_7 {
  width: 69.92857143%;
}
.span_6_of_7 {
  width: 84.21428571%;
}
.span_1_of_8 {
  width: 11%;
}
.span_3_of_8 {
  width: 36%;
}
.span_5_of_8 {
  width: 61%;
}
.span_7_of_8 {
  width: 86%;
}
.span_1_of_9 {
  width: 9.61111111%;
}
.span_2_of_9 {
  width: 20.72222222%;
}
.span_4_of_9 {
  width: 42.94444444%;
}
.span_5_of_9 {
  width: 54.05555556%;
}
.span_7_of_9 {
  width: 76.27777778%;
}
.span_8_of_9 {
  width: 87.38888889%;
}
