<!--<object id="pjlong-resume" data="media/resume.pdf" type="application/pdf" width="50%" height="100%"></object>!-->
<header class="resume">
	<a href="/media/resume.pdf?d=1" target="_blank" class="pj-btn download pull-right">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="download">
			<path d="M19,9h-4V3H9v6H5l7,7L19,9z M5,18v2h24v-2H5z"></path>
		</svg>
		Download 
	</a>
		<div class="col span_1_of_2 left">
			<span class="header-name">{{ header.name }}</span>
			<span class="pull-left">{{ header.address }}</span>
		</div>
		<div class="col span_1_of_2 right">
			<span class="pull-right">
				<a href="{{ header.link }}" id="linkedin">
					<svg version="1.1" class="linkedin-pos" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
					<path id="LinkedIn" d="M95,59.727V93H75.71V61.955c0-7.799-2.79-13.121-9.773-13.121c-5.33,0-8.502,3.587-9.897,7.056
						c-0.509,1.241-0.64,2.967-0.64,4.704V93H36.104c0,0,0.26-52.58,0-58.028h19.295v8.225c-0.039,0.062-0.09,0.128-0.127,0.188h0.127
						v-0.188c2.563-3.948,7.141-9.588,17.388-9.588C85.483,33.609,95,41.903,95,59.727z M15.919,7C9.318,7,5,11.33,5,17.024
						c0,5.57,4.193,10.031,10.663,10.031h0.129c6.729,0,10.914-4.46,10.914-10.031C26.579,11.33,22.521,7,15.919,7z M6.146,93h19.289
						V34.972H6.146V93z"/>
					</svg>
					</a>
			</span>
			<span class="pull-right">{{ header.email }}</span>
			<span class="pull-right">{{ header.phone }}</span>
		</div>
</header>

<div class="wrapper">
<article id="pjlong-resume">
<!--	<header class="col span_1_of_1">
		<div class="col span_1_of_2 left">
			<h2>{{ header.name }}</h2>
			<span class="pull-left">{{ header.address }}</span>
		</div>
		<div class="col span_1_of_2 right">
			<span class="pull-right"><a href="{{ header.link }}" class="self"></a></span>
			<span class="pull-right">{{ header.email }}</span>
			<span class="pull-right">{{ header.phone }}</span>
		</div>
	</header>	
-->


	<div class="col span_1_of_1">
		<h2 class="col span_1_of_4">EDUCATION</h2>
		<div class="col span_3_of_4">
			<h4>University of California, Davis<span class="date">Graduated March of 2014</span></h4>
			Bachelor of Science in Neurobiology, Physiology, and Behavior
			<br>
			<span class="minor">Minor: Computer Science and Psychology</span>

			<h5>Related Coursework:</h5>
			<ul>
				<li>Data Structures</li>
				<li>Databases</li>
				<li>Artificial Intelligence</li>
				<li>Programming Languages</li>
				<li>Software Engineering and Design</li>
			</ul>
		</div>
	</div>

	<div class="col span_1_of_1">
		<h2 class="col span_1_of_4">EXPERIENCE</h2>
		<div class="col span_3_of_4">
			<h3 class="plain-text">ASUCD Unitrans - Davis, CA</h3>

			<h4>Programmer III <span class="date">May 2014 - Current</span></h4>
			<h4>IT Assistant <span class="date">October 2012 - May 2014</span></h4>
			<ul>
				<li>Developing Django MVC web application, fixing user-reported bugs, documenting code, and training new users</li>
				<li>Creating optimized algorithms and unit tests</li>
				<li>Identifying application bottlenecks, designing SQL database schemas</li>
				<li>Maintaining Linux servers for production and development environments</li>
				<li>Troubleshooting desktop applications and network issues</li>
				<li>Writing scripts to interface with Google Transit APIs and to generate WordPress HTML templates</li>
			</ul>
			<br>
			<h4>Route Trainer <span class="date">February 2012 - March 2014</span></h4>		
			<ul>
				<li>Instructed and evaluated new drivers on safe operating procedure of Class-B transit vehicles</li>
			</ul>
			<br>
			<h4>Transit Driver <span class="date">June 2011 - March 2014</span></h4>		
			<ul>
				<li>Operated Class-B transit vehicles in fixed-route service, provided exceptional customer service</li>
			</ul>
		</div>
	</div>

	<div class="col span_1_of_1">
		<h2 class="col span_1_of_4">
			SKILLS
			<br>
			<span class="plain-text minor">Ranked newbie (0) to guru (10)</span>
		</h2>
		<div class="col span_3_of_4">
			<div class="col span_1_of_2">
				<h4>Programming Languages</h4>
				<ul>
					<li>Python: 7/10</li>
					<li>JavaScript: 7/10</li>
					<li>Java: 5/10</li>
					<li>C/C++: 5/10</li>
					<li>SQL: 5/10</li>
				</ul>
				<br>
				<h4>Web</h4>
				<ul>
					<li>Django: 7/10</li>
					<li>HTML/CSS: 7/10</li>
					<li>jQuery: 6/10</li>
					<li>ColdFusion: 5/10</li>
				</ul>
			</div>
			<div class="col span_1_of_2">
				<h4>Familiar With</h4>
				<ul>
					<li>Angular.js</li>
					<li>LESS.js</li>
					<li>Gulp</li>
					<li>Node.js</li>
					<li>Bootstrap</li>
				</ul>
				<br>
				<h4>Look for me on</h4>
				<ul>
					<li>github.com/pjlong</li>
					<li>codepen.io/pjlong</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col span_1_of_1">
		<h2 class="col span_1_of_4">AWARDS</h2>

		<div class="col span_3_of_4">
			<h4>Special Recognition Award: IT Assistant <span class="plain-text"> - ASUCD Unitrans, Davis, CA</span> <span class="date">June 1, 2013</span></h4>
			<h4>Eagle Rank <span class="plain-text"> - Boy Scouts of America Troop 453, San Jose, CA</span> <span class="date">August 10, 2009</span></h4>
			<h4>Black Belt (First Degree) <span class="plain-text"> - Martial Arts Academy, Cupertino, CA</span> <span class="date">May 9, 2009</span></h4>
			<h4>John Philip Sousa Award <span class="plain-text"> - Monta Vista HS Marching Band, Cupertino, CA</span> <span class="date">December, 2008</span></h4>
		</div>
	</div>
</article>	</div>